html,body{
    margin: 0;
    padding: 0;
}
body{
    padding: 15px;
}
.layui-card-header{
    display: flex;
    justify-content:space-between;
}
#form-add,#edit{
    padding: 10px ;
}
.layui-form-label{
    width: 65px;
    padding-left: 0;
}